html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body__container {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: bold;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    border: 3px solid #0000aa;
    border-radius: 10px;
    background-image: url(../images/background.jpg);
    background-size: cover;
}

.header {
    padding: 10px;
    margin: 20px;
    background-color: #0000ff3d;
    border: 3px solid #0000aa;
    text-align: center;
    border-radius: 10px;
}

.header:hover {
    color: #ffffff;
    background-color: #0000ff;
}

.form__labelText {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    margin-left: 20px;
}

.form__field {
    border: 3px solid #0000aa;
    width: 100%;
    max-width: 344px;
    border-radius: 10px;
    padding: 10px;
}

.form__button {
    margin: 0px 20px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #0000aa;
    background-color: #0000ff3d;
    font-weight: bold;
}

.form__button:hover {
    background-color: #0000ff;
    border: 3px solid #0000aa;
    font-weight: bold;
    color: #ffffff;
}

.lastParagraph {
    margin-left: 20px;
}